$white_color: #fff;

$hard_dark_bg: #243140;
$dark_bg: #303d4d;
$light_dark_bg: #2e4052;
$light_bg: #f5f9fd;

$dark_color: #1e2938;
$light_dark_color: #6e7f90;
$light_color: #aabfd7;
$dark_color: #3f617e;

$dark_border: #2d3e51;



$main_color: #41a2fb;
$main_dark: #000066;
$main_bg: #cde1f3;
$grey_color: #BAB8B8;

// borders
$border-blue: #5F90C3;

// BTN colors
$btn_grey: #E0E1E2;
$btn_blue: #A5D3FD;
$btn_green: #21BA45;
$btn_red: #ff003b;
$btn_yellow: #ffdd31;
$btn_orange: #ff6b0e;
$btn_pink: #ff63c8;


$row_space: 15px;
$border: 1px solid rgb(166, 210, 253);
