/*
$selected: $main_color;
$selectedHover: lighten($main_color, 10%);

//$selected: $btn_red;
//$selectedHover: lighten($btn_red, 10%);

.datePicker {
  position: relative;
  z-index: 3;

  * {
    outline: none;
  }

  input {
    box-sizing: border-box;
  }

  :global(.monthTitleItems) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :global(.monthTitleItem) {
    display: inline-flex;
    flex-direction: column;
    position: relative;

    > span {
      width: 100%;
      position: absolute;
      text-align: center;
    }
  }

  :global(.SingleDatePickerInput) {
    display: inline-block;
    background-color: #fff;
    width: 100%;
  }
  :global(.SingleDatePickerInput__withBorder) {
    border: 1px solid #dbdbdb
  }
  :global(.SingleDatePickerInput__rtl) {
    direction: rtl
  }
  :global(.SingleDatePickerInput__disabled) {
    background-color: #f2f2f2
  }
  :global(.SingleDatePickerInput__block) {
    display: block
  }
  :global(.SingleDatePickerInput__showClearDate) {
    padding-right: 30px
  }
  :global(.SingleDatePickerInput_clearDate) {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px 0 5px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  :global(.SingleDatePickerInput_clearDate__default):focus,
  :global(.SingleDatePickerInput_clearDate__default):hover {
    background: #dbdbdb;
    border-radius: 50%
  }
  :global(.SingleDatePickerInput_clearDate__small) {
    padding: 6px
  }
  :global(.SingleDatePickerInput_clearDate__hide) {
    visibility: hidden
  }
  :global(.SingleDatePickerInput_clearDate_svg) {
    fill: #82888a;
    height: 12px;
    width: 15px;
    vertical-align: middle
  }
  :global(.SingleDatePickerInput_clearDate_svg__small) {
    height: 9px
  }
  :global(.SingleDatePickerInput_calendarIcon) {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: 0 5px 0 10px
  }
  :global(.SingleDatePickerInput_calendarIcon_svg) {
    fill: #82888a;
    height: 15px;
    width: 14px;
    vertical-align: middle
  }
  :global(.SingleDatePicker) {
    position: relative;
    display: inline-block
  }
  :global(.SingleDatePicker__block) {
    display: block
  }
  :global(.SingleDatePicker_picker) {
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    border: 1px solid $btn_blue;
    border-radius: 5px;
  }
  :global(.SingleDatePicker_picker__rtl) {
    direction: rtl
  }
  :global(.SingleDatePicker_picker__directionLeft) {
    left: 0
  }
  :global(.SingleDatePicker_picker__directionRight) {
    right: 0
  }
  :global(.SingleDatePicker_picker__portal) {
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
  }
  :global(.SingleDatePicker_picker__fullScreenPortal) {
    background-color: #fff
  }
  :global(.SingleDatePicker_closeButton) {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 2
  }
  :global(.SingleDatePicker_closeButton):focus,
  :global(.SingleDatePicker_closeButton):hover {
    color: darken(#cacccd,10%);
    text-decoration: none
  }
  :global(.SingleDatePicker_closeButton_svg) {
    height: 15px;
    width: 15px;
    fill: #cacccd
  }
  :global(.DayPickerKeyboardShortcuts_buttonReset) {
    background: 0 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    font-size: 14px
  }
  :global(.DayPickerKeyboardShortcuts_buttonReset):active {
    outline: 0
  }
  :global(.DayPickerKeyboardShortcuts_show) {
    width: 22px;
    position: absolute;
    z-index: 2
  }
  :global(.DayPickerKeyboardShortcuts_show__bottomRight) {
    border-top: 26px solid transparent;
    border-right: 33px solid $selected;
    bottom: 0;
    right: 0
  }
  :global(.DayPickerKeyboardShortcuts_show__bottomRight):hover {
    border-right: 33px solid $selectedHover;
  }
  :global(.DayPickerKeyboardShortcuts_show__topRight) {
    border-bottom: 26px solid transparent;
    border-right: 33px solid $selected;
    top: 0;
    right: 0
  }
  :global(.DayPickerKeyboardShortcuts_show__topRight):hover {
    border-right: 33px solid $selectedHover;
  }
  :global(.DayPickerKeyboardShortcuts_show__topLeft) {
    border-bottom: 26px solid transparent;
    border-left: 33px solid $selected;
    top: 0;
    left: 0
  }
  :global(.DayPickerKeyboardShortcuts_show__topLeft):hover {
    border-left: 33px solid $selectedHover;
  }
  :global(.DayPickerKeyboardShortcuts_showSpan) {
    color: #fff;
    position: absolute
  }
  :global(.DayPickerKeyboardShortcuts_showSpan__bottomRight) {
    bottom: 0;
    right: -28px
  }
  :global(.DayPickerKeyboardShortcuts_showSpan__topRight) {
    top: 1px;
    right: -28px
  }
  :global(.DayPickerKeyboardShortcuts_showSpan__topLeft) {
    top: 1px;
    left: -28px
  }
  :global(.DayPickerKeyboardShortcuts_panel) {
    overflow: auto;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 22px;
    margin: 33px
  }
  :global(.DayPickerKeyboardShortcuts_title) {
    font-size: 16px;
    font-weight: 700;
    margin: 0
  }
  :global(.DayPickerKeyboardShortcuts_list) {
    list-style: none;
    padding: 0;
    font-size: 14px
  }
  :global(.DayPickerKeyboardShortcuts_close) {
    position: absolute;
    right: 22px;
    top: 22px;
    z-index: 2
  }
  :global(.DayPickerKeyboardShortcuts_close):active {
    outline: 0
  }
  :global(.DayPickerKeyboardShortcuts_closeSvg) {
    height: 15px;
    width: 15px;
    fill: #cacccd
  }
  :global(.DayPickerKeyboardShortcuts_closeSvg):focus,
  :global(.DayPickerKeyboardShortcuts_closeSvg):hover {
    fill: #82888a
  }
  :global(.CalendarDay) {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    text-align: center
  }
  :global(.CalendarDay):active {
    outline: 0
  }
  :global(.CalendarDay__defaultCursor) {
    cursor: default
  }
  :global(.CalendarDay__default) {
    border: 1px solid #e4e7e7;
    color: #484848;
    background: #fff
  }
  :global(.CalendarDay__default):hover {
    background: #e4e7e7;
    border: 1px double #e4e7e7;
    color: inherit
  }
  :global(.CalendarDay__hovered_offset) {
    background: #f4f5f5;
    border: 1px double #e4e7e7;
    color: inherit
  }
  :global(.CalendarDay__outside) {
    border: 0;
    background: #fff;
    color: #484848
  }
  :global(.CalendarDay__blocked_minimum_nights) {
    background: #fff;
    border: 1px solid #eceeee;
    color: #cacccd
  }
  :global(.CalendarDay__blocked_minimum_nights):active,
  :global(.CalendarDay__blocked_minimum_nights):hover {
    background: #fff;
    color: #cacccd
  }
  :global(.CalendarDay__highlighted_calendar) {
    background: #ffe8bc;
    color: #484848
  }
  :global(.CalendarDay__highlighted_calendar):active,
  :global(.CalendarDay__highlighted_calendar):hover {
    background: #ffce71;
    color: #484848
  }
  :global(.CalendarDay__selected_span) {
    background: #66e2da;
    border: 1px solid #33dacd;
    color: #fff
  }
  :global(.CalendarDay__selected_span):active,
  :global(.CalendarDay__selected_span):hover {
    background: #33dacd;
    border: 1px solid #33dacd;
    color: #fff
  }
  :global(.CalendarDay__last_in_range) {
    border-right: $selected
  }
  :global(.CalendarDay__selected),
  :global(.CalendarDay__selected):active,
  :global(.CalendarDay__selected):hover {
    background: $selected;
    border: 1px solid $selected;
    color: #fff
  }
  :global(.CalendarDay__hovered_span),
  :global(.CalendarDay__hovered_span):hover {
    background: #b2f1ec;
    border: 1px solid #80e8e0;
    color: #007a87
  }
  :global(.CalendarDay__hovered_span):active {
    background: #80e8e0;
    border: 1px solid #80e8e0;
    color: #007a87
  }
  :global(.CalendarDay__blocked_calendar),
  :global(.CalendarDay__blocked_calendar):active,
  :global(.CalendarDay__blocked_calendar):hover {
    background: #cacccd;
    border: 1px solid #cacccd;
    color: #82888a
  }
  :global(.CalendarDay__blocked_out_of_range),
  :global(.CalendarDay__blocked_out_of_range):active,
  :global(.CalendarDay__blocked_out_of_range):hover {
    background: #fff;
    border: 1px solid #e4e7e7;
    color: #cacccd
  }
  :global(.CalendarMonth) {
    background: #fff;
    text-align: center;
    padding: 0 13px;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  :global(.CalendarMonth_table) {
    border-collapse: collapse;
    border-spacing: 0
  }
  :global(.CalendarMonth_verticalSpacing) {
    border-collapse: separate
  }
  :global(.CalendarMonth_caption) {
    color: #484848;
    font-size: 18px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 37px;
    caption-side: initial
  }
  :global(.CalendarMonth_caption__verticalScrollable) {
    padding-top: 12px;
    padding-bottom: 7px
  }
  :global(.CalendarMonthGrid) {
    background: #fff;
    text-align: left;
    z-index: 0
  }
  :global(.CalendarMonthGrid__animating) {
    z-index: 1
  }
  :global(.CalendarMonthGrid__horizontal) {
    position: absolute;
    left: 9px
  }
  :global(.CalendarMonthGrid__vertical) {
    margin: 0 auto
  }
  :global(.CalendarMonthGrid__vertical_scrollable) {
    margin: 0 auto;
    overflow-y: scroll
  }
  :global(.CalendarMonthGrid_month__horizontal) {
    display: inline-block;
    vertical-align: top;
    min-height: 100%
  }
  :global(.CalendarMonthGrid_month__hideForAnimation) {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none
  }
  :global(.CalendarMonthGrid_month__hidden) {
    visibility: hidden
  }
  :global(.DayPickerNavigation_container) {
    position: relative;
    z-index: 2
  }
  :global(.DayPickerNavigation_container__vertical) {
    background: #fff;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 52px;
    width: 100%
  }
  :global(.DayPickerNavigation_container__verticalScrollable) {
    position: relative
  }
  :global(.DayPickerNavigation_button) {
    cursor: pointer;
    line-height: .78;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  :global(.DayPickerNavigation_button__default) {
    border: 1px solid #e4e7e7;
    background-color: #fff;
    color: #757575
  }
  :global(.DayPickerNavigation_button__default):focus,
  :global(.DayPickerNavigation_button__default):hover {
    border: 1px solid #c4c4c4
  }
  :global(.DayPickerNavigation_button__default):active {
    background: #f2f2f2
  }
  :global(.DayPickerNavigation_button__horizontal) {
    border-radius: 3px;
    padding: 6px 9px;
    top: 18px;
    position: absolute
  }
  :global(.DayPickerNavigation_leftButton__horizontal) {
    left: 22px
  }
  :global(.DayPickerNavigation_rightButton__horizontal) {
    right: 22px
  }
  :global(.DayPickerNavigation_button__vertical) {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 50%
  }
  :global(.DayPickerNavigation_button__vertical__default) {
    padding: 5px
  }
  :global(.DayPickerNavigation_nextButton__vertical__default) {
    border-left: 0
  }
  :global(.DayPickerNavigation_nextButton__verticalScrollable) {
    width: 100%
  }
  :global(.DayPickerNavigation_svg__horizontal) {
    height: 19px;
    width: 19px;
    fill: #82888a
  }
  :global(.DayPickerNavigation_svg__vertical) {
    height: 42px;
    width: 42px;
    fill: #484848
  }
  :global(.DayPicker) {
    background: #fff;
    position: relative;
    text-align: left
  }
  :global(.DayPicker__horizontal) {
    background: #fff
  }
  :global(.DayPicker__verticalScrollable) {
    height: 100%
  }
  :global(.DayPicker__hidden) {
    visibility: hidden
  }
  :global(.DayPicker__withBorder) {
    box-shadow: 0 2px 6px rgba(0,0,0,.05),0 0 0 1px rgba(0,0,0,.07);
    border-radius: 3px
  }
  :global(.DayPicker_portal__horizontal) {
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 50%
  }
  :global(.DayPicker_portal__vertical) {
    position: initial
  }
  :global(.DayPicker_focusRegion) {
    outline: 0;
  }
  :global(.DayPicker_calendarInfo__horizontal),
  :global(.DayPicker_wrapper__horizontal) {
    display: inline-block;
    vertical-align: top
  }
  :global(.DayPicker_weekHeaders) {
    position: relative
  }
  :global(.DayPicker_weekHeaders__horizontal) {
    margin-left: 9px
  }
  :global(.DayPicker_weekHeader) {
    color: #757575;
    position: absolute;
    top: 62px;
    z-index: 2;
    padding: 0 13px;
    text-align: left
  }
  :global(.DayPicker_weekHeader__vertical) {
    left: 50%
  }
  :global(.DayPicker_weekHeader__verticalScrollable) {
    top: 0;
    display: table-row;
    border-bottom: 1px solid #dbdbdb;
    background: #fff;
    margin-left: 0;
    left: 0;
    width: 100%;
    text-align: center
  }
  :global(.DayPicker_weekHeader_ul) {
    list-style: none;
    margin: 1px 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px
  }
  :global(.DayPicker_weekHeader_li) {
    display: inline-block;
    text-align: center
  }
  :global(.DayPicker_transitionContainer) {
    position: relative;
    overflow: hidden;
    border-radius: 3px
  }
  :global(.DayPicker_transitionContainer__horizontal) {
    -webkit-transition: height .2s ease-in-out;
    -moz-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out
  }
  :global(.DayPicker_transitionContainer__vertical) {
    width: 100%
  }
  :global(.DayPicker_transitionContainer__verticalScrollable) {
    padding-top: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll
  }
  :global(.DateInput) {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
  }
  :global(.DateInput__small) {
    width: 97px
  }
  :global(.DateInput__block) {
    width: 100%
  }
  :global(.DateInput__disabled) {
    background: #f2f2f2;
    color: #dbdbdb
  }
  :global(.DateInput_input) {
    font-weight: 200;
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    background-color: #fff;
    width: 100%;
    padding: 11px 11px 9px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
    border-radius: 0
  }
  :global(.DateInput_input__small) {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .2px;
    padding: 7px 7px 5px
  }
  :global(.DateInput_input__regular) {
    font-weight: auto
  }
  :global(.DateInput_input__readOnly) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  :global(.DateInput_input__focused) {
    outline: 0;
    background: #fff;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid $selectedHover;
    border-left: 0
  }
  :global(.DateInput_input__disabled) {
    background: #f2f2f2;
    font-style: italic
  }
  :global(.DateInput_screenReaderMessage) {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
  }
  :global(.DateInput_fang) {
    position: absolute;
    width: 20px;
    height: 10px;
    left: 22px;
    z-index: 2
  }
  :global(.DateInput_fangShape) {
    fill: #fff
  }
  :global(.DateInput_fangStroke) {
    stroke: $btn_blue;
    fill: transparent
  }
}


@include media-mobile {

  .datePicker {

    :global(.SingleDatePicker_picker) {
      top: vw(65) !important;
      width: 100%;

      [role="application"] {

        > div > div {
          width: 100% !important;
        }
      }
    }

    :global(.monthTitleItem) {

      + :global(.monthTitleItem) {
        margin-left: vw(10);
      }

      > span {

        &:global(.up) {
          top: vw(-18);
        }

        &:global(.down) {
          bottom: vw(-18);
        }
      }
    }

    :global(.CalendarMonth) {
      padding: 0 !important;
    }

    :global(.CalendarMonth_caption) {
      font-size: vw(18) !important;
      padding-top: vw(20) !important;
      padding-bottom: vw(37) !important;
    }

    :global(.DayPickerNavigation_leftButton__horizontal) {
      left: vw(8) !important;
    }
    :global(.DayPickerNavigation_rightButton__horizontal) {
      right: vw(8) !important;
    }
    :global(.DayPickerNavigation_button__horizontal) {
      border-radius: vw(3) !important;
      padding: vw(6) vw(9) !important;
      top: vw(18) !important;
    }

    :global(.CalendarDay) {
      width: vw(38) !important;
      height: vw(37) !important;
      font-size: vw(14) !important;
    }

    :global(.DayPicker_weekHeader_ul) {
      font-size: vw(14) !important;
    }

    :global(.DayPicker_weekHeader_li) {
      width: vw(39) !important;
    }

    :global(.CalendarMonthGrid__horizontal) {
      width: vw(900) !important;
      left: vw(9) !important;
    }

    :global(.DayPicker_transitionContainer) {
      width: vw(280) !important;
    }

    :global(.DateInput_fang) {
      display: none !important;
      top: vw(57) !important;
      margin-top: 2px !important;
    }

    :global(.DayPicker_weekHeader) {
      top: vw(62) !important;
      padding: 0 !important;
    }

    :global(.DayPicker_focusRegion) {
      box-shadow: 0 0 15px $btn_blue;
    }
  }
}

@include media-except-mobile {

  .datePicker {

    :global(.monthTitleItem) {

      + :global(.monthTitleItem) {
        margin-left: 10px;
      }

      > span {

        &:global(.up) {
          top: -18px;
        }

        &:global(.down) {
          bottom: -18px;
        }
      }
    }
  }
}

*/