.cube-grid {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.cube-grid .cube {
  width: 33%;
  height: 33%;
  background-color: $main_color;
  float: left;
  -webkit-animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.cube-grid .cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.cube-grid .cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.cube-grid .cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.cube-grid .cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.cube-grid .cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.cube-grid .cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.cube-grid .cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.cube-grid .cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.cube-grid .cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}